<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  doubleganger
  %%
  Copyright (C) 2011 - 2013 consistec GmbH
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- logging configuration for unit tests -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %m [%c] line %L%n"/>
        </layout>
    </appender>

    <appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="Threshold" value="ALL"/>
        <param name="File" value="${catalina.base}/logs/syncserver.log"/>
        <param name="maxFileSize" value="50000000"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d - %X{thread-id} %X{session-id} %-5p %m [%c] line %L%n"/>
            <!--<param name="ConversionPattern" value="%d [%t] %-5p [%-35F : %-25M : %-6L] %-C -%m%n"/>-->
        </layout>
    </appender>

    <root>
        <level value="ALL"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>

</log4j:configuration>
