<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  doubleganger
  %%
  Copyright (C) 2011 - 2013 consistec GmbH
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the 
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public 
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <description>Sample server application based on doubleganger</description>
    <display-name>consistec GmbH Syncserver Build: ${display_build}</display-name>
    <context-param>
        <description>Name of the configuration file for synchronistion framework</description>
        <param-name>sync_config_file_name</param-name>
        <param-value>doubleganger.properties</param-value>
    </context-param>

    <context-param>
        <description>Name of the configuration file for server app</description>
        <param-name>server_config_file_name</param-name>
        <param-value>server.properties</param-value>
    </context-param>

    <!-- Define servlets that are included in the example application -->

    <servlet>
        <servlet-name>SyncService</servlet-name>
        <servlet-class>de.consistec.doubleganger.server.SyncServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SyncService</servlet-name>
        <url-pattern>/SyncService</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>de.consistec.doubleganger.server.ContextListener</listener-class>
    </listener>

	<resource-ref>
        <description>Connection Pool</description>
        <res-ref-name>jdbc/sync</res-ref-name>
        <!--<res-type>javax.sql.Datasource</res-type>-->
        <res-auth>Container</res-auth>
        <res-type>org.postgresql.ds.PGSimpleDataSource</res-type>
    </resource-ref>
</web-app>
